*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{height: 100vh;
    width: 100%;
   
    display:flex ;
    align-items: center;
    justify-content:center ;
    transition: all 4s;
}
.uleft{
width: 200px;
height: 200px;
background-color: brown;
transform-origin: top left;
transition: all 2s ;

}
.uright{
    width: 200px;
    height: 200px;
    background-color: rgb(187, 255, 0);
    transform-origin: bottom left;
    transition: all 2s ;
}
.aleft{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform-origin:top right ;
    transition: all 2s ;
}
.aright{
    width: 200px;
    height: 200px;
    background-color:green;
    transform-origin:bottom right ;
    transition: all 2s ;
}
.content:hover .uright ,
.content:hover .uleft ,
.content:hover .aleft,
.content:hover .aright
{
    transform: rotate(90deg);
}